extends layout

block head
    link(rel='stylesheet', href='/stylesheets/login.css')

block content
    form.form-signin.text-center(method="POST" action="")
        h1.h3.mb-3.font-weight-normal Please sign up
        div.text-left User Name:
        input.form-control(type="text" name="user_name" placeholder="User Name" required)
        div.text-left Account:
        input.form-control(type="text" name="account" placeholder="Account" required)
        div.text-left Password:
        input.form-control(type="password" name="password" placeholder="Password" required)
        div.text-left Input Password Again:
        input.form-control(type="password" name="rePassword" placeholder="Input Password Again" required)
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign up