body{
    padding:60px 0 0 0;
    position: relative;
    overflow-x: hidden;
}

.row{
    height: calc(100vh - 60px);
    overflow-y:hidden;
}

.chat {
    display:flex;
    flex-direction:column;
}

#chatbox {
    overflow-y: auto;
    overflow-x: hidden;
    flex:1;
}

#chatbox > p {
    font-size: calc(1vw + 10px);
    margin:calc(0.3vh);
    width:100%;
    word-wrap: break-word;
}

#userList {
    overflow-y:auto;
    height:90%
}

@media (max-width: 575px) {
    #userListWrap {
        display: none;
    }

    .chat {
        position:fixed;
        bottom:10px;
        top:60px;
        left:0;
        right:0;
        padding:0;
    }

}