body{
    padding:60px 0 0 0;
    position: relative;
    overflow: hidden;
}

#chatbox {
    height: calc(100vh - 140px);
    overflow-y:scroll;
    overflow-x: hidden;
}

#chatbox > p {
    font-size: calc(1vw + 10px);
    margin:calc(0.3vh);
    width:100%;
    word-wrap: break-word;
}

#userList {
    overflow-y:scroll;
    height:90%
}

@media (max-width: 576px) {
    #userList {
        display: none;
    }

    .chat {
        height: calc(100vh - 160px);
        overflow-y:hidden;
    }

    #chatbox {
        height: 60vh;
    }
}